<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>蜗牛打卡后台管理页面</title>
    <link rel="stylesheet" href="/static/css/public/public.css">
    <link rel="stylesheet" href="/static/css/public/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/public/common.css">
    <link rel="stylesheet" href="/static/css/public/iconfont.css">
    <link rel="stylesheet" href="/static/css/public/woniu.css">
    <!--JQuery-->
    <script src="/static/js/public/jquery.min.js"></script>
    <!--popper-->
    <script src="/static/js/public/popper.min.js"></script>
    <!--bootstrap-->
    <script src="/static/js/public/bootstrap.min.js"></script>
    <!--layer-->
    <script src="/static/js/layer/layer.js"></script>
    <!--sweetalert2-->
    <script src="/static/js/public/sweetalert2.all.js"></script>
    <!--Vue-->
    <script src="/static/js/public/vue.js"></script>
    <!--config-->
    <script src="/static/js/public/config.js"></script>

</head>
<body>
<div class="top">
    <div class="top-left">
        <a href="/admin/index/index.html">
            <img src="/static/images/woniu/logo.jpg" alt="">
        </a>
        <span class="m-l-20 f18">蜗牛打卡</span>
        <span class="lesson-name m-l-20"><text class="m-l-20 f18  "></text></span>

    </div>
    <div class="top-right">
        <span class="user-name m-r-30">Jeremy</span>
        <span class="iconfont m-r-30 f20 js-clock">
            <img src="/static/images/woniu/clock.png" alt="">
        </span>
        <span class="iconfont  f20  js-logout">
            <img src="/static/images/woniu/on.png" alt="">
        </span>
    </div>
</div>
{__CONTENT__}
<div class="foot">
    <div class="con">Copyright © 2017-2027 XIANGXUE 享学（深圳）科技有限公司 粤ICP备17065259号-1</div>
</div>
</body>
</html>
<script src="/static/js/woniu/index.js"></script>
